.header {
  border: 1px solid ;
  border-image: -webkit-linear-gradient(top left, #02E1FF, #1b24ff, #fd0371) 0 0 100 0;
}

.your-code-card {
  border: 0;
}

.your-code-card .MuiCardHeader-action {
  align-self: center;
  margin-top: 0;
  margin-right: 0;
}

.your-code-card .MuiCardHeader-action button {
  height: 100%;
}

.no-code {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-code .no-code-content {
  text-align: center;
  font-size: 24px;
}

.result-title {
  height: 64px;
  padding: 16px 0;
  margin-bottom: 16px!important;
}

.run-button {
  position: relative;
}

.run-button .run-button-loading {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
}
